.footer {
    padding-bottom: 0;
}

.footer-link-title {
    color: #fff;
}

.link-item {
    padding-left: 0;
    background: transparent;
    color: rgb(226, 220, 220);
}

.link-item a {
    color: rgb(226, 220, 220);
}

.footer-bottom {
    background: black;
    padding: 30px 0px;
    text-align: center;
    margin-top: 50px;
}

.footer-bottom p {
    color: rgb(226, 220, 220);


}

@media only screen and (max-width: 992px) {
    .link-item a {
        font-size: 0.8rem;
    }

    .link-item {
        font-size: 0.8rem;
    }

    .logo p {
        font-size: 0.8rem;
    }

    .footer-bottom p {
        font-size: 0.7rem;
    }

    .footer-bottom p {

        font-size: 0.7rem;
    }

    .footer-bottom {
        padding: 15px 0px;
    }
}