.single-testimonial {
    color: #f5b70a;
    font-size: 1.1rem;
}

.single-testimonial p {
    color: #fff;
    font-size: .8rem;
}

@media only screen and (max-width: 992px) {
    .slider-content h2 {
        font-size: 1.5rem;
        margin-bottom: 15px !important;
    }

    .single-testimonial p {
        font-size: .8rem
    }


}

@media only screen and (max-width: 767px) {
    .slider-wrapper {
        flex-direction: column;
        width: 100%;
    }

    .slider-content {
        width: 100% !important;
    }

    .slider-img {
        display: none;
    }
}